<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/util.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="icon"  type="image/x-icon" sizes="16x16" href="/image1s/icons/88296_bus_coach_mercedes_icon.ico"/>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/libs/jquery/3.2.1/jquery-3.2.1.min.js"></script>
<title>Online Bus Ticket</title>