<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body >
    <%- include("../partials/nav2")  %> 
    <div class=" input-group  justify-content-center align-items-center flex-column " >
        <div id="search-container" data-bg="yes" style="background-image: url(&quot;https://s3.eu-central-1.amazonaws.com/static.obilet.com/images/location/223-lg.png&quot;);  width: 1280px; height: 553px;">
            <div class=" input-group  justify-content-center align-items-center flex-column " >
                <div class=" content">
                </div>
                <form method="post">
                    <div class="search_input pt-5 " style="width:160%;position:relative">
                        <input type="text" class="form-control" placeholder="From" id="From" name="From">
                    </div>
                    <div class="search_input pt-5" style="width:160%;position:relative">
                        <input type="text" class="form-control" placeholder="To" id="To" name="To">
                    </div>
                
                    <div class="search_input pt-5" style="width:160%;position:relative">
                        <input type="date" name="Date" >       
                    </div>
                    <div class="search_input pt-5" style="width:160%;position:relative">
                        <button type="submit" class="btn btn-primary" type="button">Search Tickets</button>
                    </div>
                </form>    
            </div>
        </div>
    </div>   
</body>
</html>