<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    <%- include("../partials/nav2")  %> 
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <form method="POST">
                    <h3 class="text-center text-primary mt-3">BUY TICKET</h3>
                    <div class="row mb-3 mt-3">
                        <label for="ticket_ID" class="col-sm-2 col-form-label">Ticket ID:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ticket_ID" name="ticket_ID">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="ticket_price" class="col-sm-2 col-form-label">Ticket Price:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ticket_price" name="ticket_price">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="seat_number" class="col-sm-2 col-form-label">Seat Number:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="seat_number" name="seat_number">
                        </div>
                    </div>

                    <div class="row mb-3 mt-3">
                        <div class="col-sm-8 offset-sm-2">
                            <button  type="submit"  class="btn btn-primary">BUY</button>
                            <a class="btn btn-danger" href="./list_ticket">EXIT</a> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>