<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body >
  <%- include("../partials/nav2")  %> 
  <div class="container mt-3">
    <div class="row">
     <div class="col-md-12 mt-3 ">
        <div class="alert alert-secondary">
            <p class="mb-3">
                <b><%= company.name %></b> <br> Do you want to delete the company named?
            </p>
            <form action="" method="post">
                <input type="hidden" name="companiesid" value="<%= company.company_ID %>">
                <button class="btn btn-danger" type="submit">YES</button>
                <a href="/admin/admin_companies_list" class="btn btn-primary">NO</a>
            </form>
        </div>
     </div>
</body>
</html>